# Virtual Environment
.venv/
venv/
ENV/
env/

# Private API Keys & Credentials
.env
.streamlit/credentials.toml

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System Files
.DS_Store
Thumbs.db
